/* line 4, demo.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

/* line 11, demo.scss */
h1, h2 {
  font-weight: normal;
  font-family: "Josefin Sans", sans-serif;
}

/* line 16, demo.scss */
h1 {
  font-size: 70px;
}

/* line 18, demo.scss */
h2 {
  font-size: 40px;
}

/* line 20, demo.scss */
input {
  font-size: 100%;
  line-height: normal;
}
/* line 23, demo.scss */
input[type="textarea"] {
  vertical-align: top;
}

/* line 28, demo.scss */
.section-intro {
  text-align: center;
}

/* line 30, demo.scss */
.form-control {
  display: block;
  font-size: 15px;
  position: relative;
  margin-bottom: 10px;
}

/* line 37, demo.scss */
.form-control-textbox {
  font-size: 15px;
}

/* line 41, demo.scss */
.form-control-textbox {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
  z-index: 2;
  box-sizing: border-box;
}
/* line 52, demo.scss */
.form-control-textbox::-webkit-input-placeholder {
  color: #ddd;
}
.form-control-textbox::-moz-placeholder {
  color: #ddd;
}
.form-control-textbox:-ms-input-placeholder {
  color: #ddd;
}
.form-control-textbox::placeholder {
  color: #ddd;
}
/* line 53, demo.scss */
.form-control-textbox:focus {
  border-color: #333;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 56, demo.scss */
.form-control-textbox:focus ~ .form-control-label {
  opacity: 1;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}
/* line 62, demo.scss */
.form-control-textbox[type="textarea"] {
  min-height: 120px;
  overflow: auto;
  text-indent: 0;
}

/* line 69, demo.scss */
.form-control-label {
  position: absolute;
  top: 3px;
  right: 100%;
  z-index: 1;
  padding: 7px 15px;
  color: #fff;
  background: #333;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  border-radius: 4px;
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s cubic-bezier(0.28, 0.11, 0.32, 1), -webkit-transform 0.2s cubic-bezier(0.28, 0.11, 0.32, 1);
          transition: opacity 0.2s cubic-bezier(0.28, 0.11, 0.32, 1), transform 0.2s cubic-bezier(0.28, 0.11, 0.32, 1);
}
/* line 85, demo.scss */
.form-control-label:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -7px;
  width: 0;
  height: 0;
  border-left: 8px solid #333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
