@import "app/base/core";
@import "theme/base/core";

body {
	margin: 0;
	padding: 0;
	font-family: $open-sans;
	font-size: 20px;
}

h1, h2 {
	font-weight: normal;
	font-family: $josefin;
}

h1 { font-size: 70px; }

h2 { font-size: 40px; }

input {
	font-size: 100%;
	vertical-align: top;
}

.section-intro { text-align: center; }

.form-control {
	display: block;
	font-size: 15px;
	position: relative;
	margin-bottom: 10px;
}

.form-control-textbox { font-size: 15px; }

.form-control-textbox {
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 0;
	text-indent: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: 0;
	z-index: 2;
	
	&::placeholder { color: #ddd; }
	&:focus {
		border-color: #333;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		~ .form-control-label {
			opacity: 1;
			transform: translateX(-20px);
		}
	}

	&[type="textarea"] {
		min-height: 120px;
	}
}

.form-control-label {
	position: absolute;
	top: 3px;
	right: 100%;
	z-index: 1;
	padding: 7px 15px;
	color: #fff;
	background: #333;
	transform: translateX(100%);
	border-radius: 4px;
	opacity: 0;
	white-space: nowrap;
	
	transition: opacity 0.2s cubic-bezier(0.28, 0.11, 0.32, 1),
				transform 0.2s cubic-bezier(0.28, 0.11, 0.32, 1);

	&:after{
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		margin-right: -7px;
		width: 0;
		height: 0;
		border-left: 8px solid #333;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		transform: translate(0, -50%);
	}
}



