@import "app/base/core";
@import "theme/base/core";

body {
	margin: 0;
	padding: 0;
	font-family: $open-sans;
	font-size: 20px;
}

h1, h2 {
	font-weight: normal;
	font-family: $josefin;
}

h1 { font-size: 70px; }

h2 { font-size: 40px; }

.section-intro { text-align: center; }

.form-control { @include form-control(); }

.form-control-label { @include form-label(); }

.has-flyout { @include form-label-flyout(); }

.form-control-textbox { @include form-textbox(); }

.form-control-selector { @include form-selector(); }

.form-control-selectbox { @include form-selectbox(); }

.form-control-filebrowser { @include form-filebrowser(); }

.form-control-button { @include form-button(); }

.form-control-progress { @include form-progress(); }

.progress-0 { width: 0%; }

.progress-25 { width: 25%; }

.progress-50 { width: 50%; }

.progress-75 { width: 75%; }

.progress-100 { width: 100%; }