// --------------------------------------
// File Browser
// --------------------------------------

$form-button-text-color: #fff !default;
$form-button-background-color: #333 !default;

@mixin form-button (
	$text-color: $form-button-text-color,
	$background-color: $form-button-background-color
) {
	position: relative;
	display: inline-block;
	height: 37px;
	font-size: inherit;
	color: $text-color;
	padding: 10px 20px;
	border: 0;
	outline: 0;
	text-decoration: none;
	border-radius: $form-border-radius;
	background: $background-color;
	box-sizing: border-box;
	line-height: 17px;
	vertical-align: top;
	cursor: pointer;
}