// --------------------------------------
// Control
// --------------------------------------

@mixin form-control () {
	display: block;
	font-size: $form-font-size;
	position: relative;
	margin-bottom: 10px;
}