// --------------------------------------
// Core
// --------------------------------------

// -------------------
// Configuration
// -------------------

$form-font-size: 15px !default;
$form-border-radius: 4px !default;
$form-background-color: #fff !default;
$form-placeholder-color: #ddd !default;

// -------------------
// Mixins
// -------------------

@import "control";
@import "label";
@import "textbox";
@import "selector";
@import "selectbox";
@import "filebrowser";
@import "button";