// --------------------------------------
// Textboxes
// --------------------------------------

$form-textbox-border-color: #ddd;
$form-textbox-focus-border-color: #333;

@mixin form-textbox() {
	font-size: inherit;
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 20px;
	border: 1px solid $form-textbox-border-color;
	border-radius: 4px;
	outline: 0;
	z-index: 2;
	box-sizing: border-box;
	
	&::placeholder { color: $form-placeholder-color; }
	&:focus {
		border-color: $form-textbox-focus-border-color;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		~ .form-control-label {
			opacity: 1;
			transform: translateX(-20px);
		}
	}

	&[type="textarea"] {
		min-height: 120px;
		overflow: auto;
	}
}