// --------------------------------------
// Textboxes
// --------------------------------------

$form-textbox-border-color: #ddd !default;
$form-textbox-border-focus-color: #333 !default;

@mixin form-textbox (
	$border-color: $form-textbox-border-color,
	$border-focus-color: $form-textbox-border-focus-color
) {
	font-size: inherit;
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 20px;
	border: 1px solid $border-color;
	border-radius: $form-border-radius;
	outline: 0;
	z-index: 2;
	box-sizing: border-box;
	
	&::placeholder { color: $form-placeholder-color; }
	&:focus {
		border-color: $border-focus-color;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
		
		~ .form-control-label {
			opacity: 1;
			transform: translateX(-20px);
		}
	}

	&[type="textarea"] {
		min-height: 120px;
		overflow: auto;
	}
}